* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.credit-card {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 366px;
    background-color: royalblue;
    border-radius: 10px;
}
.credit-card.credit-card-front {
    display: flex;
    flex-direction: column;

}
.credit-card.credit-card-front .number{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}
.credit-card.credit-card-front .information-wrapper {
    display: flex;
    font-size: 40px;
}
.credit-card.credit-card-back {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
