* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.credit-card {
    flex-direction: column;
    height: 200px;
    width: 366px;
    background-color: royalblue;
    border-radius: 10px;
}
.credit-card.credit-card-front{
    display: flex;
    justify-content: center;
    align-items: center;
}
.credit-card.credit-card-front .number {
    font-size: 36px;
}
.credit-card.credit-card-front .information-wrapper {
    flex-direction: column;
    justify-content: flex-start;
}
.credit-card.credit-card-front .name {
    justify-content: flex-end;
    font-size: 30px;
}
/*back side of credit card*/
.credit-card.credit-card-back {
    display: flex;
    margin-top:
}
.credit-card.credit-card-back .magnetic-strip {
    background-color: black;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}
.credit-card.credit-card-back .information-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    justify-content: space-between;
    background-color: aliceblue;
    width: 180px;
    height: 35px;
    margin: 20px 0 0 10px;
}
.credit-card.credit-card-back .information-wrapper .name {
    font-family: 'Ms Madi', cursive;
    font-size: 25px;
    padding-left: 10px;
}




